Informatie(non code)/untitled.vpp~1
/Informatie(non code)/Thumbs.db
/Informatie(non code)/.~lock.fietsdiefstal-rotterdam-2011-2013.xls#
Code/ProjectSolution1.0/Solution1.0/Solution1.0/obj/Debug/Solution1.0.dll
/Code/ProjectSolution1.0/Game1/Game1/bin/Android/AnyCPU
/Code/ProjectSolution1.0/Game1/Game1/obj/Debug
/Code/ProjectSolution1.0/Game1/Game1/obj/Release
/Code/ProjectSolution1.0/ProjectSolutution2.0Android/ProjectSolutution2.0Android/obj/Release/res/drawable
Code/ProjectSolution1.0/ProjectSolutution2.0Android/.vs/ProjectSolutution2.0Android/v14/.suo
*.suo
/Code/ProjectSolution1.0/ProjectSolutution2.0Android/.vs/config
/Code/ProjectSolution1.0/ProjectSolutution2.0Android
/Code/ProjectSolution1.0/Solution1.0
