Informatie(non code)/untitled.vpp~1
/Informatie(non code)/Thumbs.db
/Informatie(non code)/.~lock.fietsdiefstal-rotterdam-2011-2013.xls#
Code/ProjectSolution1.0/Solution1.0/Solution1.0/obj/Debug/Solution1.0.dll
