<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="ProjectSolutution2.x0Android" android:versionCode="1" android:versionName="1.0">
	<uses-sdk />
	<application android:label="ProjectSolutution2.0Android" android:icon="@drawable/Icon"></application>
</manifest>